<apex:page standardcontroller="Contact" extensions="AccountContactRoles" standardStylesheets="false">
   <style type="text/css">
        body {background: #F3F3EC; padding-top: 15px}
    </style>
        <apex:outputPanel layout="block" >
        <apex:pageBlock title="Related Schools" mode="maindetail">
         
            <apex:pageBlockSection columns="1" >
          
            <apex:form styleClass="myBkgStyle" >
       
            <apex:dataTable value="{!acrs}" var="acr" id="acrTable" rules="all" cellpadding="5px" width="100%">
                    <apex:column style="text-align:center;"  headerValue="Primary Contact">
                        <apex:outputField value="{!acr.IsPrimary}"/>
                    </apex:column>
                    <apex:column headerValue="Contact Role">
                        <apex:outputText value="{!acr.Role}"/>
                    </apex:column>
                
                    <apex:column headerValue="Agent Type">
                        <apex:outputText value="{!acr.Account.RecordType.Name}"/>
                    </apex:column>
                    <apex:column headerValue="School Name">
                        <apex:outputLink value="/{!acr.Account.Id}" target="_parent">{!acr.Account.Name}</apex:outputLink>
                    </apex:column>
                    <apex:column style="text-align:center;"  headerValue="City">
                        <apex:outputText value="{!acr.Account.ShippingCity}"/>
                    </apex:column>
                    <apex:column style="text-align:center;"  headerValue="State">
                        <apex:outputText value="{!acr.Account.ShippingState}"/>
                    </apex:column>
                    <apex:column style="text-align:center;"  headerValue="Country">
                        <apex:outputText value="{!acr.Account.ShippingCountry}"/>
                    </apex:column>
                    
             </apex:dataTable>   
                </apex:form>
            </apex:pageBlockSection>
         
        </apex:pageBlock> 
      </apex:OutputPanel>
</apex:page>