<apex:page controller="AssetLicensesController" title="Licence Renewal" readOnly="false">
    <apex:stylesheet value="{!URLFOR($Resource.jQueryUI_1_11_4, 'jquery-ui-1.11.4/jquery-ui.css')}" />
    <script src="{!URLFOR($Resource.jQueryUI_1_11_4, 'jquery-ui-1.11.4/jquery/jquery.js')}" type="text/javascript"></script>
    <script src="{!URLFOR($Resource.jQueryUI_1_11_4, 'jquery-ui-1.11.4/jquery-ui.js')}" type="text/javascript"></script>
    <script type="text/javascript">
        var j$ = jQuery.noConflict();
    </script>
    <apex:form id="f1">
        <apex:pageblock id="pb" >
            <apex:pageblocksection title="Search Help" id="hlp">
            <p>Enter License End Date Search Criteria as the Date Interval</p>
            
            </apex:pageblocksection>
           
            <apex:pagemessages id="error" escape="false" />
            <apex:pageblocksection title="Enter Licence Search Criteria" id="pbs">
                <apex:inputfield value="{!opp.Start_Date__c}" label="End Date From" required="true"/>
                <apex:inputfield value="{!opp.End_Date__c}" label="End Date To" required="true"/>                               
                   
                <apex:selectradio value="{!territoryType}" styleclass="txntyperadio" required="true">
                    <apex:selectoptions value="{!items}" />
                </apex:selectradio>
                <apex:inputfield value="{!opp.OwnerId}" label="User" required="false"/>
                <!--    <apex:param name="stage" value="{!opportunity.StageName}" assignTo="{!stgname}"/>-->
            </apex:pageblocksection>
            <apex:pageblocksection title="Specify Default Values for Opportunities" id="def">
             <apex:inputfield value="{!opp.CloseDate}" />
             <apex:inputfield value="{!opp.PriceBook2Id}" required="true" />
            </apex:pageblocksection>
            
            <apex:pageblockbuttons >
                <apex:commandbutton value="Search" action="{!search}" />
                <apex:commandbutton value="Create Opportunities" action="{!createOpportunities}" />
            </apex:pageblockbuttons>
            <apex:pageblocksection title="List of matching Licences"  >
                <apex:pageblocktable value="{!assetWrapperList}" var="wrapper" width="100%" align="center">
                    <apex:column >
                        <apex:facet name="header"> <input type="checkbox" name="selectAllCheckbox" id="selectAllCheckbox" class="selectAllCheckbox" /></apex:facet>
                        <apex:inputcheckbox styleclass="select-checkbox" value="{!wrapper.isSelected}" id="DYIDis_selected-checkbox"></apex:inputcheckbox>
                    </apex:column>
                    <apex:column value="{!wrapper.singleAsset.account.name}" headerValue="Account"/>
                    <apex:column value="{!wrapper.singleAsset.account.ShippingCity}" headerValue="Account Ciity"/>
                    <apex:column value="{!wrapper.singleAsset.account.ShippingState}" headerValue="Account State"/>
                    <apex:column value="{!wrapper.singleAsset.account.ShippingCountry}" headerValue="Account Country"/>
                    <apex:column value="{!wrapper.singleAsset.account.owner.Name}" headerValue="Account Owner"/>
                    <apex:column value="{!wrapper.singleAsset.Product2.name}" headerValue="Product"/>
                    <apex:column value="{!wrapper.singleAsset.Product2.Family}" headerValue="Product Family"/>
                    <apex:column value="{!wrapper.singleAsset.Type_of_License__c}" headerValue="Licence Type"/>
                    <apex:column value="{!wrapper.singleAsset.License_Cap__c }" headerValue="Licence Cap"/>
                    <apex:column value="{!wrapper.singleAsset.Registered_Students__c}" headerValue="Registered Students"/>
                    <apex:column value="{!wrapper.singleAsset.InstallDate}" headerValue="Licence Start Date"/>
                    <apex:column value="{!wrapper.singleAsset.UsageEndDate }" headerValue="Licence End Date"/>
                </apex:pageblocktable>
            </apex:pageblocksection>
        </apex:pageblock>
        <script type="text/javascript">

         j$(document).ready(function() {
            selectAllChekbox();
        });
        function selectAllChekbox() {
            j$("#selectAllCheckbox").click(function(event) {
                if (this.checked) {
                    j$('.select-checkbox').each(function() {
                        this.checked = true;
                    });
                } else {
                    j$('.select-checkbox').each(function() {
                        this.checked = false;
                    });
                }
            });
        }
        </script>
    </apex:form>
</apex:page>