<apex:page showHeader="true"   standardController="Lead" extensions="LeadConvertController">

	<apex:sectionHeader title="Lead Convert" subtitle="Lead Details" />
	<div>
	Leads can be converted to accounts, contacts, opportunities, and follow up tasks.<br/>
	You should only convert a lead once you have identified it as qualified.<br/>
	After this lead has been converted, it can no longer be viewed or edited as a lead, but can be viewed in lead reports.<br/><br/></div>
	<apex:form id="leadform">
	<apex:pageBlock >	
		<apex:pageMessages />
		<apex:pageBlockButtons >
				<apex:commandButton id="Submit" title="Submit" value="Submit" action="{!Submit}"></apex:commandButton>
				<apex:commandButton id="Cancel" title="Cancel" value="Cancel" action="{!Cancel}"></apex:commandButton>
		</apex:pageBlockButtons>		

		<apex:pageBlockSection columns="1" showHeader="false">
			<c:leadConvertDetailsComponent Lead="{!leadConvert}"  thepageController="{!this}" />
		</apex:pageBlockSection>

		<apex:pageBlockSection columns="2">
		<apex:pageBlockSectionItem > 
				<c:DuplicateContactDetails Lead="{!leadConvert}" thepageController="{!this}"/>
		</apex:pageBlockSectionItem>
		<apex:pageBlockSectionItem > 
				<!--<c:DuplicateAccountPayContacts Lead="{!leadConvert}" accountPayble="{!isAccountPayble}" thepageController="{!this}" rendered="{!If(leadConvert.Account_Payable_Email__c != null || leadConvert.Account_Payable_First_Name__c != null,true,false )}"/>-->
				<c:DuplicateAccountPayContacts Lead="{!leadConvert}" accountPayble="{!isAccountPayble}" thepageController="{!this}" />
		</apex:pageBlockSectionItem>
			
		</apex:pageBlockSection>
		<apex:pageBlockSection columns="1">
			<!-- This custom component contains the section & fields specific to creating a new Task on Lead Convert -->
        <!-- If you would like to hide this section, set the rendered attribute to 'False' -->
           
        <c:leadConvertTaskInfoComponent Lead="{!leadConvert}" rendered="true" thepageController="{!this}"/>
        </apex:pageBlockSection>

        <!-- This custom component contains the section & Description field specific to the new Task on Lead Convert -->
        <!-- If you would like to hide this section, set the rendered attribute to 'False' -->
       <!-- <apex:pageBlockSection columns="1">
		
		<c:leadConvertTaskDescription Lead="{!leadConvert}" rendered="true" />
		</apex:pageBlockSection>-->
	
	</apex:pageBlock>
	
</apex:form>

</apex:page>